<dl class="question-template">
  <dt>Question</dt>
  <dd class="question_title">
     {{label}}
  </dd>
  
  <dt>Description</dt>
  <dd class="question_description">
    {{description}}
  </dd>
</dl>
