<dl class="ui-objects-text-field-template {{css_classes}}" id="{{dom_id}}" style={{default_styles}}>
  <dt>
    <label for="{{input_id}}">
      {{label}}
    </label>
    {{#has_extra_info}}
      <span class="tooltip">
        Extended Information
        <span class="description">
          {{extra_info}}
        </span>
      </span>
    {{/has_extra_info}}
  </dt>
  
  <dd>
    <input type="text" name="{{name}}" value="{{value}}" id="{{input_id}}">
  </dd>
</dl>
